main {
  max-width: 800px;
  margin: 2em auto;
  padding: 2em;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
  color: #4caf50;
  margin-bottom: 1em;
}
p {
  margin-bottom: 0.5em;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 2px;
}

input,
textarea {
  margin-bottom: 10px;
}

.submit-button {
  background-color: #9acd32;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.main-content {
  padding: 20px;
  background-color: white;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-section {
  display: flex;
  align-items: flex-start;
  padding: 50px 0;
}

.about-text {
  flex: 0 0 60%;
  padding: 20px;
  max-width: 60%;
}

.about-text h2 {
  margin-top: 0;
}
